@page "/AddProduct"

<h3>Add Product</h3>

@if (Product is null && Categories is null && ErrorMessage is null)
{
    <p>Loading data...</p>
}
else if (ErrorMessage is not null)
{
    <ErrorDisplay ErrorMessage="@ErrorMessage" ResetError="HandleResetError"/>
}
else
{
    <EditProductDetails Product="Product" Categories="Categories" HandleValidSubmit="HandleValidSubmit" />
}