@page "/AddProduct"

<h3>Add Product</h3>

@if (Product is null && Categories is null && ErrorMessage is null)
{
    <p>Loading data...</p>
}
else if (ErrorMessage is not null)
{
    <h5 class="alert alert-danger my-4">@ErrorMessage</h5>
}
else
{
    <EditProductDetails Product="Product" Categories="Categories" HandleValidSubmit="HandleValidSubmit" />
}