@page "/CashierConsole"

<h3>Cashier's Console</h3>

<div class="row">
    <div class="col-4">
        <div class="form-control border-0">
            <SelectProductForSelling OnSelectProduct="HandleSelectProduct" />

            <SellProduct SelectedProduct="SelectedProduct" OnSoldProduct="HandleSoldProduct" />
        </div>
    </div>
</div>

@code {
    public Product? SelectedProduct { get; set; }
    public Product? SoldProduct { get; set; }

    private void HandleSelectProduct(Product product)
    {
        SelectedProduct = product;
    }

    private void HandleSoldProduct(Product product)
    {
        SoldProduct = product;
    }
}
