@page "/Categories"

<h3>Manage Categories</h3>

@if (_categories is null && ErrorMessage is null)
{
    <p>Loading categories...</p>
}
else if (ErrorMessage is not null)
{
    <h5 class="alert alert-danger my-4">@ErrorMessage</h5>
}
else
{
    @if (_categories!.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in _categories!)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td class="text-center">
                            <a href="/EditCategory/@category.Id">Edit</a>
                            <button class="btn btn-link py-0 align-baseline"
                        @onclick="(() => HandleDeleting_Click(category.Id))">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="my-4">There is no category here.</h5>
    }
    <button class="btn btn-primary" @onclick="HandleAddingCategory_Click">Add Category</button>
}