@page "/Products"
@attribute [Authorize(Policy = "AdminOnly")]

<h3>Products</h3>

@if (ProductsList is null && ErrorMessage is null)
{
    <h5>Loading products...</h5>
}
else if (ErrorMessage is not null)
{
    <ErrorDisplay ErrorMessage="@ErrorMessage" ResetError="HandleResetError" />
}
else
{
    @if (ProductsList!.Any())
    {        
        <ProductsTable Products="@ProductsList" HandleDeleting_Click="HandleDeleting" />
    }
    else
    {
        <h5 class="my-4">There is no category here.</h5>
    }
    <button class="btn btn-primary" @onclick="HandleAddingProduct_Click">Add Product</button>
}