@page "/Products"

<h3>Products</h3>

@if (ProductsList is null && ErrorMessage is null)
{
    <h5>Loading products...</h5>
}
else if (ErrorMessage is not null)
{
    <h5 class="alert alert-danger my-4">@ErrorMessage</h5>
}
else
{
    @if (ProductsList!.Any())
    {
        <ProductsTable Products="@ProductsList" />
    }
    else
    {
        <h5 class="my-4">There is no category here.</h5>
    }
    <button class="btn btn-primary" @onclick="HandleAddingProduct_Click">Add Category</button>
}