<AuthorizeView>
    <Authorized>
        <a class="py-2 d-none d-md-inline-block align-self-center" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form class="py-2 d-none d-md-inline-block" action="Identity/Account/Logout?returnUrl=%2F" method="post">
            <button type="submit" class="nav-link btn btn-link" style="color:#8e8e8e;">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="py-2 d-none d-md-inline-block align-self-center" href="Identity/Account/Register">Register</a>
        <a class="py-2 d-none d-md-inline-block align-self-center" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>