<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@GetCategoryName(product.CategoryId)</td>
                <td>@product.Quantity</td>
                <td>$ @product.Price</td>
                <td class="text-center">
                    <a href="/EditProduct/@product.Id">Edit</a>
                    <button class="btn btn-link py-0 align-baseline"
                        @onclick="(() => HandleDeleting_Click.InvokeAsync(product.Id))">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Product> Products { get; set; } = null!;
    [Parameter]
    public EventCallback<int> HandleDeleting_Click { get; set; }
    [Inject]
    public IGetCategoryByIdUseCase GetCategoryByIdUseCase { get; set; } = null!;


    private string? GetCategoryName(int categoryId)
    {
        return GetCategoryByIdUseCase.Execute(categoryId)?.Name;
    }
}
